# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SCYLLA_RIGHT_TRACKPOINT

config ZMK_KEYBOARD_NAME
    default "Scylla"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCYLLA_LEFT || SHIELD_SCYLLA_RIGHT_TRACKPOINT

config ZMK_SPLIT
    default y

endif
