if SHIELD_SCYLLA_RIGHT_TRACKPOINT

config ZMK_KEYBOARD_NAME
    default "Scylla"

config AMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCYLLA_LEFT || SHIELD_SCYLLA_RIGHT_TRACKPOINT

config ZMK_SPLIT
    default y

endif
